html, body
{
    height: 100vh;
}

.product-page-layout-grid
{
    display: grid;
    min-height: 100vh;
    grid-template-areas: "sidebar main-content main-content main-content main-content main-content";
}

.product-page-sidebar
{
    height: 100%;
    grid-area: sidebar;
}

.product-page-content
{
    height: 100%;
    grid-area: main-content;
    color: var(--royal-blue);
    background-color: var(--background-color);
}

